$font-stack: 'Roboto', sans-serif
$text-color: #f2f2d2
$text-color-secundary: #666
$body-bg-color: #f5f4d5
$bg-color: #575656
$bg-color-secundary: #888
$container-border-radius: 5px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #318832, #000100)